body {
  margin: 0;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}

#root {
  position: relative;
  height: 100%;
}
